.__republicMap_hover {
    fill: yellow;
    stroke: aqua;
    stroke-width: 0mm;
    display: none;
}

.__republicMap_clicked {
    fill: darkcyan;
    stroke: blueviolet;
    stroke-width: 0ch;
    display: none;
}

.__republicMap_base {
    fill: brown;
    stroke: chartreuse;
    stroke-width: 0pc;
    display: none;
}