.__republicMapRegionHover {
    fill: yellow;
    stroke: aqua;
    stroke-width: 0mm;
    display: none;
}

.__republicMapRegionClicked {
    fill: darkcyan;
    stroke: blueviolet;
    stroke-width: 0mm;
    display: none;
}

.__republicMapRegionBase {
    fill: brown;
    stroke: chartreuse;
    stroke-width: 0mm;
    display: none;
}